html
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
        link(href='/css/newcss.css' rel='stylesheet' type='text/css')
        title HouseWareShop
        style.
            .card-body p{
            max-height: 43px;
            overflow: hidden;
            color: rgb(51, 51, 51);
            font-size: 13px;
            }
            .card-title:hover{
            color: blue !important;
            }
            .card-text:hover{
            color: gray !important;
            }
            .btn-group:hover>.dropdown-menu {
                display: block;
            }
            .btn-group{
                margin: auto;
            }
            #login{
                border-top-right-radius: .25rem !important;
                border-bottom-right-radius: .25rem !important;
            }
            .btn-outline-warning{
                color: white;
                border-color: none;
            }
            .btn-outline-warning:hover{
                color: white;
                background-color: #00ACE9;
            }
    body
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark(style='height: 4rem; opacity: .9; background-color: #404040 !important')
            a.navbar-brand(href='http://localhost:8080/HousewareShop/home') HouseWareShop
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                .navigationDesktop.ml-5
                    nav.nav
                        ul
                        li
                            a.link.btn.btn-outline-warning(style='background-color:  #404040; border-color: #404040 !important;color: white;margin-top: 23px;' href='http://localhost:8080/HousewareShop/get-list-product') Products
                            ul
                                // //for list category
                                li.sublink
                                    a.link(href='http://localhost:8080/HousewareShop/filter?id=categoryId') categoryName
                                    ul
                                        // //for list sub category of current category
                                        li.sublink
                                        a.link(href='http://localhost:8080/HousewareShop/filter?cid=subId') getSubCategoryName
                                        // end of for
                                        // //end for list category
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.btn.btn-outline-warning.ml-5(style='border-color: #404040 !important;font-size: 13pt' href='http://localhost:8080/HousewareShop/get-list-sale') Sale Items
                    li.nav-item
                        a.btn.btn-outline-warning.ml-5(style='border-color: #404040 !important;font-size: 13pt' href='https://www.facebook.com/xb.jamesgosling/about?section=overview&lst=100013406340780%3A100013406340780%3A1572076900') Contact Us
                form#frm(target='_self' action='http://localhost:8080/HousewareShop/search' method='get' onchange='submitForm()')
                    .search-box
                        input.search-txt(name='inputSearch' type='text' placeholder='Type to search')
                        input(type='hidden' value='${page}' name='page')
                        a.search-btn(href='#')
                            i.fas.fa-search.text-center(style='margin-top:12px;color: white')
                ul.navbar-nav.ml-auto.mr-2
                    li.nav-item.dropdown.active
                        a#navbarDropdown.nav-link.dropdown-toggle.mr-5(href='#' style='color: green; font-size: 2.5rem' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            i.fas.fa-cart-plus.mr-2(style='color: #e9ecef; font-size: 2.5rem')
                            sup(style='color: #fcae00 !important') 10
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            .popup-list-cart
                                table
                                    // for list cart
                                    tr
                                        td.px-2
                                        img(src='images/${cart.productImg}')
                                        td.f-small
                                        a(href='detail?id=${cart.productId}') productName
                                        td.px-3.f-small x 5
                                    // end of for
                            .dropdown-divider
                            a.dropdown-item(href='get-list-cart') View List Cart
                        // Example single danger button
                    .btn-group
                        a#login.nav-link.btn.btn-outline-primary.ml-2.mr-1(style='margin: auto' href='http://localhost:8080/HousewareShop/login') Login
                            i.fas.fa-user-plus.ml-2
                        .dropdown-menu
                            a.dropdown-item(href='http://localhost:8080/HousewareShop/my-profile') My profile
                            a.dropdown-item(href='http://localhost:8080/HousewareShop/my-profile' onclick='openOrder()') Orders
                            a.dropdown-item(href='#') History
                            .dropdown-divider
                            a.dropdown-item(href='http://localhost:8080/HousewareShop/logout') Logout
        script.
            function submitForm() {
            document.getElementById("frm").submit();
            }

        block content
        // Optional JavaScript
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
